/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    background: url(../img/background-wood.jpg) fixed;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#upper-menu {
    background: url("../img/background-menu.png") no-repeat scroll center center transparent;
    height: 239px;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
ul{margin:0px;}
#upper-menu ul li {
    display: inline;
    height: 70px;
    line-height: 70px;
    list-style-type: none;
    margin: 0;
    padding-top: 40px;
    position: relative;
    top: 89px;
    z-index: 99999;
}
#bloco1{position: relative;float: left;}
#bloco2{position: relative;float: right;margin-right: 10%;}
#biografia {
    background: url("../img/links-menu-principal.png") no-repeat scroll 0 -11px transparent;
    height: 70px;
    width: 205px;
}
#biografia a {
    color: transparent;
    padding: 40px;
}

#fotosevideos {
  background-attachment:scroll;
  background-clip:initial;
  background-color:transparent;
  background-image:url(http://localhost/jessicaallossery.com/img/links-menu-principal.png);
  background-origin:initial;
  background-position:-126px -7px;
  background-repeat:no-repeat no-repeat;
  height:70px;
  overflow-x:hidden;
  overflow-y:hidden;
  width:30px;
}
#fotosevideos a {
  color:transparent;
  padding-bottom:40px;
  padding-left:24px;
  padding-right:0;
  padding-top:40px;
}

#show {
  background-attachment:scroll;
  background-clip:initial;
  background-color:transparent;
  background-image:url(http://localhost/jessicaallossery.com/img/links-menu-principal.png);
  background-origin:initial;
  background-position:-246px -7px;
  background-repeat:no-repeat no-repeat;
  height:70px;
  overflow-x:hidden;
  overflow-y:hidden;
  width:30px;
}
#show a {
  color:transparent;
  padding-bottom:40px;
  padding-left:93px;
  padding-right:0;
  padding-top:40px;
}

#musicas {
  background-attachment:scroll;
  background-clip:initial;
  background-color:transparent;
  background-image:url(http://localhost/jessicaallossery.com/img/links-menu-principal.png);
  background-origin:initial;
  background-position:-486px -0px;
  background-repeat:no-repeat no-repeat;
  height:70px;
  overflow-x:hidden;
  overflow-y:hidden;
  width:30px;
}
#musicas a {
  color:transparent;
  padding-bottom:40px;
  padding-left:80px;
  padding-right:0;
  padding-top:40px;
}
#contato {
  background-attachment:scroll;
  background-clip:initial;
  background-color:transparent;
  background-image:url(http://localhost/jessicaallossery.com/img/links-menu-principal.png);
  background-origin:initial;
  background-position:-351px -0px;
  background-repeat:no-repeat no-repeat;
  height:70px;
  overflow-x:hidden;
  overflow-y:hidden;
  width:30px;
}
#contato a {
  color:transparent;
  padding-bottom:40px;
  padding-left:93px;
  padding-right:0;
  padding-top:40px;
}

#calendario{background: url(../img/background-shows.png) center no-repeat;height: 400px;padding-top:150px;margin-bottom:46px;}
.data,.mes{color: #990033;font-size: 5.5em;text-align: center;}
.data {
  display:block;
  line-height:1em;
  margin-top:10px;
}
.mes{font-size: 2em;}
.detalhes{color:#903;background: #000;padding: 3px;margin-bottom: 30px;margin-top: 30px;}
.pdetalhes{margin-top: 0px;}





#content{margin:0px 0px 0px 0px;}
#first_box{position:relative;background:url(../img/jessica-box-1.png);width: 100%;top: 145px;height: 700px; }
#fotos{height:575px;background:url(../img/background-photos.png);}

#calendario ul li{display: inline;list-style-type: none;text-align: center;height: 250px;}
#calendario ul li {
    background: none repeat scroll 0 0 #F7F7F7;
    display: inline;
    float: left;
    width: 235px;
    position: relative;
    left:-260px;
}
#slider1 ul li{background-color:red;} 
#biografia-box{background:url(../img/background-biografia.png);height: 700px; padding: 30px;}
#biografia-texto {
    background: none repeat scroll 0 0 white;
    float: right;
    font-size:1em;
    margin-right: 5%;
    margin-left: 5%;
    opacity: 0.73;
    position: relative;
    width: 55%;
}
#biografia-texto p{
margin-left: auto;
margin-right: auto;
opacity: 1;
position: relative;
width: 95%;}
h1#proximoshows {
    background: url("../img/proximosshows.png") no-repeat scroll center center transparent;
    float: right;
    height: 100%;
    position: relative;
    text-indent: -9999px;
    width: 463px;
}
#widget_title
{
	width: 442px;
	padding-bottom: 3px;
	padding-top: 3px;
	padding-left: 10px;
	font-size: 15px;
	text-align: left;
	background-color: #6F7986;
	color: #FFF;
}

#container
{
	display: block;
	overflow: hidden;
	background: url('../assets/ajax-loader.gif') no-repeat center center;
	text-align: center;
	width: 430px;
	height: 48px;

	padding: 10px;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	bottom:100px;
	position: relative;
	left: 410px;
}

#counter
{
	
	left: 425px;
	top: 13px;
	font-size: 13px;
	color: #FFF;
}

#holder
{
	position: relative;
}

#tweets
{
	font-size: 12px;
}






 ul#galery{
				list-style: none;
				padding: 0;
				margin: 0 auto;
				width: 42em;
				height: 28em;
}
#galery li {
				height: 24em;
				width: 24em;
				text-align: center;
				cursor: pointer;
}
#galery li img {
					width: 100%;
}
#galery li.roundabout-in-focus {
					cursor: default;
}
#galery li span {
				display: block;
				padding-top: 6em;
}

.bx-wrapper .bx-prev {
  background-attachment:initial;
  background-clip:initial;
  background-color:initial;
  background-image:url(http://www.bxslider.com/sites/all/themes/bx/images/icon_arrow_left.png);
  background-origin:initial;
  background-position:0 -31px;
  background-repeat:no-repeat no-repeat;
  height:31px;
  left:-55px;
  position:absolute;
  text-indent:-999999px;
  top:78px;
  width:31px;
}
.bx-wrapper .bx-next {
    background: url("http://www.bxslider.com/sites/all/themes/bx/images/icon_arrow_right.png") no-repeat scroll 0 -31px transparent;
    height: 31px;
    position: absolute;
    right: -40px;
    text-indent: -999999px;
    top: 78px;
    width: 31px;
}
.bx-wrapper{position: relative;margin-left:auto;margin-right: auto;}


footer {
    background: url("../img/background-rodape.png") repeat scroll 0 0 transparent;
    height: 156px;
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
}
footer ul li{display: inline;
height: 70px;
line-height: 70px;
list-style-type: none;
margin: 0;
padding-top: 40px;
position: relative;
top: 89px;
z-index: 99999;}
footer span {
    float: right;
    margin-right: 35px;
    position: relative;
    top: 25px;
}
.sociallinks{background:url(../img/social-buttons.png) no-repeat; }
#itunes {
    background-position: 615px 16px;
}
#amazon {
    background-position: -105px 16px;
}
#twitter {
    background-position: -220px 16px;
}
#facebook {
    background-position: -153px 16px;
}
#youtube {
    background-position: -47px 16px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
